/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Noto+Sans+JP:wght@500&display=swap');
:root {
    --primary-color: #686bf1;
    --off-white: #eaebee;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px; 
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* .container-side {
    
    margin: auto;
    display: inline-block;
} */
/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem 0.1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0rem;
}
.navigation .nav-brand .small{
    color: rgb(21, 20, 37);
    font-size: 1rem;
}

.navigation .nav-pills {
    text-align: right;
    /* float: right; */
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 1rem;
    padding-top: 4rem;
    

}

.hero .hero-img {
    max-width: 80%;
    
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 0.2rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}

/** footers **/

.footer {

    background-color: var(--primary-color);
    padding: 1rem 1rem ;
    text-align: center;
    margin-top:auto;
    color: white;
    border-top-right-radius: 1rem;
    
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
    padding: 2rem;
}

/** blogs **/
.showcase-blog {
    padding-bottom: 6rem;
}

.social {
    padding : 0.35rem 0.35rem;
    color: black;
    
}
@media only screen and (max-width:600px) {
     
    .navigation .list-item-inline {
        padding: 0px 2px;
        text-align: center;
    }
    .navigation .nav-pills .link{
        
        padding: 0rem;
    }
     
    .navigation .nav-pills{
        display: grid;
        grid-auto-columns: auto;
        grid-auto-flow: column;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        /* align-items:center; */
    }
    .navigation .nav-brand {
        padding-bottom: 0.5rem;
    }

    .footer{
        padding: 1rem 0rem;
        
    }

    .footer .list-item-inline{
        padding: 0rem;
    }

    .footer .social-links .list-item-inline{
        padding: 0rem;
    }

    .footer .social-links {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-flow: column;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        /* padding: 0px; */
    }

}

@media only screen and (max-width:360px) {
   
   .footer .social-links .link img{
    width: 1rem;
    height: 1rem;
    margin:0px;
    }
    
    .footer .social-links .list-item-inline .link {    
        padding: 0;
        margin: 0;
    }

}

/* .list-item-inline .last {
    
} */
